{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
    Password Change
{% endblock title %}

{% block content %}
<div class="container text-center col-10">
    <h1>Password Change</h1>
    <p>please enter your old password for security sake and enter you new password twice to verifying you typed it correctly</p>

</div>
       <div class="container">
        <div class="d-flex col-10 col-lg-10 align-items-center justify-content-center text-start">
           
            <div class="card" style="width: 40rem;">
                <form method="POST">
                    {% csrf_token %}
                    {{form|crispy}}  <!--{# form.as_p #}-->
                <input class="btn btn-primary ml-2" type="submit" value="Change my password">

                </form>
            </div>
        </div>
    </div>


    {% endblock content %}