{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Enter new password
{% endblock title %}

{% block content %}
    <h1>
        set a new password!
    </h1>

    <div class="card"style="width: 40rem;">
        <div class="card-body">
        
    <form method="POST">
        {% csrf_token %}
        {{form|crispy}}  <!--{# form.as_p #}-->
    <input class="btn btn-primary ml-2" type="submit" value="Change my password">

    </form>
        </div>

    </div>

{% endblock content %}