{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    
{% endblock title %}
{% block content %}

    <div class="article-entry">
        <h2>
            {{ object.title }}
        </h2>
        <p>
            by {{ object.author }}  | {{ object.date }}
        </p>
    </div>
    <p>
        {{ object.body }}
    </p>

        <h4>
            Comment
        </h4>
        {% for comment in article.comment_set.all %}
        {{ comment.author }}:
        {{ comment }}
        {% endfor %}
        <hr>
        <h4>
            Add a comment
        </h4>
        <form action = "" method="POST">
            {% csrf_token %}
            {{form|crispy}}  <!--{# form.as_p #}-->
        <button class="btn btn-success ml-2" type="submit">Save</button>
    
        </form>
    
    <p>
        

        <a href="{% url 'article_edit' article.pk %}"> Edit</a> | 
        <a href="{% url 'article_delete' article.pk%}"> delete</a>
    </p>
    <p>
     Back to   <a href=" {%  url 'article_list' %}"> All articles</a>
    </p>

{% endblock content %}
